---
layout: page
title: Home
permalink: /
---

<div class="home">
  <iframe width="853" height="480" src="http://www.youtube-nocookie.com/embed/tN3G117aRCw?rel=0" frameborder="0" allowfullscreen></iframe>

  <h3 class="page-heading">Posts</h3>
  <ul class="post-list">

    {% if site.posts[0] %}
      <li>
        <span class="post-meta">{{ site.posts[0].date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ site.posts[0].url | prepend: site.baseurl }}">{{ site.posts[0].title }}</a>
        </h2>
      </li>
    {% endif %}

    {% if site.posts[1] %}
      <li>
        <span class="post-meta">{{ site.posts[1].date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ site.posts[1].url | prepend: site.baseurl }}">{{ site.posts[1].title }}</a>
        </h2>
      </li>
    {% endif %}

    {% if site.posts[2] %}
      <li>
        <span class="post-meta">{{ site.posts[2].date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ site.posts[2].url | prepend: site.baseurl }}">{{ site.posts[2].title }}</a>
        </h2>
      </li>
    {% endif %}

  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
